.about-section {
  display: grid;
  padding: 0 72px 40px 40px;
  grid-template-columns: 1fr 420px;
  gap: 40px;
  grid-auto-rows: auto;
  max-width: 920px;
}

.about-section__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-section__text h2 {
  color: #495E57;
  margin-bottom: 1rem;
}

.about-section__text p {
  color: black;
  text-align: justify;
}

.about-section__image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  max-width: 420px;
}

.about-section__image1 {
  position: absolute;
  width: 230px;
  height: 312px;
  border-radius: 16px;
  top: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
}

.about-section__image2 {
  position: absolute;
  width: 230px;
  height: 312px;
  border-radius: 16px;
  left: 0;
  bottom: 0;
  z-index: 0;
  object-fit: cover;
}

@media (max-width: 852px) {
  .about-section {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 32px 40px 40px;
  }

  .about-section__image {
    place-self: center  ;
  }

  .about-section__image1, .about-section__image2 {
    width: 192px;
    height: 260px;
  }
}