.button {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #F4CE14;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  transition: all .4s;
  color: black;
}

.button:hover {
  background-color: #ffdc30;
}