body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-primary: 'Markazi Text', serif;
  --font-secondary: 'Karla', sans-serif;
  --font-size-xlarge: 4rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1.125rem;
  --font-size-xsmall: 1rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height: 1.25;
}

.display-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-medium);
  line-height: 75%;
  margin: 0;
}

.sub-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  line-height: 75%;
  margin: 0;
}

.lead-text {
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: 0;
}

.section-title {
  font-family: var(--font-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.section-categories {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.card-title {
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

p, .paragraph-text {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  margin: 0;
}

.highlight-text {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  margin: 0;
}